[Unit]
Description=l3gd20

[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/python /home/pi/IoT-Hackathon/helper/sensor-socket/L3GD20_socket.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
