[Unit]
Description=tsl2591

[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/python /home/pi/IoT-Hackathon/helper/sensor-socket/TSL2591_socket.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
