[Unit]
Description=dht22

[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/python /home/pi/pi/helper/sensor-socket/DHT22_socket.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
